@font-face {
    font-family: 'Amble';
    src: url('fonts/Amble-Regular.woff2') format('woff2'),
        url('fonts/Amble-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Norse';
    src: url('fonts/Norse-Bold.woff2') format('woff2'),
        url('fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@import "modern-normalize";

:root {
  line-height: 1.5;
}

html,body {
  height: 100%;
  margin: 0;
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

.italics {
  font-style: italic;
}
br {
  margin-top: 400px;
}

body {
  background-color:#EAEDF0;;
  font-family: Arial, Helvetica, sans-serif;
 
}

.image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}

.image {
  width: 46%;
  position: relative;
  height: 100vh;
}

.tides-text {
  position: absolute;
  top: 20%;
  left: 0%;
  font-family: "Norse", sans-serif;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 70px;
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.space {
  display: inline-block;
  margin-top: 30px;
}

.icon {
  max-width: 80px;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.form_class {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #dddcdcd2;
}

.header_information {
  font-size: 25px;
  font-weight: bold;  
  max-width: 850px;
  margin-left: 40px;
  /* outline: 2px solid red; */
  margin-top: 30px;
  padding-top: 1px;
}

.Names,
.personal_info,
.allPasswords {
  width: 200px;
  /* outline: 2px solid red; */
  font-size: 15px;
  margin-bottom: 20px;
}

.Names input[type="text"],
.personal_info input[type="email"],
.personal_info input[type="tel"],
.allPasswords input[type="password"] {
  border: 3px solid #E5E7EB;
  border-radius: 7px;
  /* padding: 6px 20px; */
  height: 30px;
  width: 200px;
}

.personal_info input:invalid{
  border-color: red;
}

.Pair {
  display: flex;
  gap: 100px;
  justify-content: flex-start;
  margin-left: 40px;
  
}

.information {
  background-color: #ffffffad; 
  font-family: "Amble",sans-serif;
  /* outline: 2px solid blue; */
  width: 100%;
  height: 300px
  }

.Encourage {
  margin-left: 40px;
  font-weight: 530;
  font-size: 2rem;
  margin-top: 10px;
}

button {
  background-color: #6d8ce0;
  border-radius: 15px;
  margin-left: 40px;
  margin-top: 0;
  padding: 15px 45px;
  border: none;
  color: white;
  font-size: 20px;
}

.account {
  margin-left: 40px;
}

a {
  color: #6d8ce0;;
}