@font-face {
    font-family: 'Amble';
    src: url('Amble-Regular.woff2') format('woff2'),
        url('Amble-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

